@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


:root{
    --main: rgb(79 131 209);
    --main-child: rgb(79 131 209 / 80%);
}

.dataTables_wrapper .dataTables_filter input {
    padding: 2px;
    padding-left: 12px;
    outline: none;
}

.dataTables_filter {
    margin-bottom: 15px;
}

.formerror {
    color: #d32525;
    font-size: 10px;
    /* font-weight: bolder; */
}

body{
    font-family: 'Roboto Slab', serif;
}
.seprate {
    margin-top: 40px;
    height: 10px;
    width: 100%;
    background-color: black;
}

.absolute {
    position: absolute;
    top: 0px;
    width: 100%;
}

.drop {
    display: block;
    width: 260.66px;
    height: 2.4rem;
    font-family: inherit;
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.uppar {
    height: 180px;
    display: flex;
    align-items: center;

}

.width {
    width: 70%;
}

.bremove {
    border: none;
    background: none;
}

.image{
    height: 80px;
    width: 80px;
}

.mybox {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.imageitem{
    height: 80px;
    width: 80px;
    border: 2px solid black;
}

.preview{
    position: relative;
    height: 85px;
    width: 85px;
    left: 995px;
    top: 10px;
}

.a {
    text-decoration: none;
    color: black;
}

.a:hover {
    color: black;
}

/* .hero {
    display: flex;
}



.hero .dynamic-txts {
    height: 30px;
    overflow: hidden;
    margin-bottom: 3px;
    padding-bottom: 10px;
}

.dynamic-txts li {
    list-style: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    top: 4px;
    margin-right: 30px;
    animation: slide 12s steps(1) infinite;
    animation-fill-mode: backwards;
}

@keyframes slide {
    100% {
        top: -360px;
    }
}

.dynamic-txts li span {
    position: relative;
 }

.dynamic-txts li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #212529;
    border-left: 2px solid #16f37d;
    animation: typing 4s steps(12) 1;
    animation-fill-mode: forwards;
} */

::placeholder {
    font-size: 20px;
}


#logineye {
    position: absolute;
    right: 10px;
    top: 51px;
}

.logineye {
    text-decoration: none;
    color: black;
}

/* @keyframes typing {

    40%,
    60% {
        left: calc(100% + 10px);
    }

    100% {
        left: 330px;
    }
}
.table-container{
    overflow-y: scroll;
    max-height: 310px;
    min-height: 310px;
}
.InputSearch{
    position: relative;
}

.eyepsignup {
    position: absolute;
    right: 10px;
    top: 17%;
    color: black;
}
   */
/* 
.sidebar_logo{

} */

#sidebar ul li a.green{
    color: white;
}

#sidebar ul li a:hover.green{
    color: black;
    background-color: white;
}

#sidebar ul li.active>a.green{
    background-color: white;
    color: black;
}

/* .side_se{
    margin: 0px 5px;
    width: 98%;
    border: none;
} */

.side_search{
    width: 95%;
    border-radius: 3px;
    border: 1px solid #00000012;
    margin: 10px auto 5px;
    display: block;
    padding: 3px;
    height: 30px;
    font: 12px Calibri;
    background: #fff;
    color: #333;
    text-indent: 10px;
    box-shadow: 1px 2px 4px 1px #afa2a25c;
}

#sidebar ul #side_search a:hover.green{
     background-color: black !important;
}

.side_se.green{
    background-color: black;
    color: white;
}

.green{
    background-color: black;
    color: white;
}

.mybox.green{
    box-shadow: rgb(255 255 255 / 48%) 0px 2px 8px 0px;
}

.form-control:focus.green{
    background-color: black;
    color: white;
}

.form-control.green{
    background-color: black;
    color: white;
}

.nav-link.green{
    color: white;
}

.nav-tabs .nav-link.active.green{
    background-color: black;
    color: white;
    border-color: white;
}

input,
input::placeholder {
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
   
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--main); 
     border-radius: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .nav-tabs>button{
    padding: 2px 12px !important;
    line-height: 1.42;
    background-color: var(--main) !important;
    color: white;
    height: 30px;
  }
  .nav-tabs>button.active{
    padding: 2px 12px !important;
    line-height: 1.42;
    background-color: white !important;
    color: black;
    height: 30px;
  }
  .nav-tabs>button:hover{
    color: white;
  }

  .sub-menu>ul>li.active>a{
    background-color: var(--main-child);
  }

  .paint_logo{
    position: relative;
    left: 995px;
   
  }

  .paint_logo:hover{
    color: white;
  }